USE [master]
GO

CREATE DATABASE [MyStoke]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyStoke', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyStoke.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyStoke_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyStoke_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyStoke].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyStoke]
GO
/****** Object:  Table [dbo].[Cars]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] NOT NULL,
	[CarName] [varchar](50) NOT NULL,
	[Manufacturer] [varchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[ReleasedYear] [int] NOT NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT [dbo].[Cars] ([CarID], [CarName], [Manufacturer], [price], [ReleasedYear]) VALUES (1, N'Accord', N'Honda Motor Company', 24970.0000, 2021)
INSERT [dbo].[Cars] ([CarID], [CarName], [Manufacturer], [price], [ReleasedYear]) VALUES (3, N'Clarity', N'Honda Motor Company', 33400.0000, 2021)
INSERT [dbo].[Cars] ([CarID], [CarName], [Manufacturer], [price], [ReleasedYear]) VALUES (4, N'BMW 8 Series', N'BMW', 85000.0000, 2021)
GO
USE [master]
GO
